* {
    font-family: 'Lexend Mega', sans-serif;
}

body {
    background-color: red;
    transition: background-color 0.3s;
}

.start {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.bang {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 300px;

    scale: 1;
    transition: scale 0.5s;
}

.bang.waiting {
    scale: 0;
}

.bang.banged {
    scale: 1.3;
    transition: scale 0.1s;
}