body {
    background-color: red;
}

.bang {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 300px;

    scale: 1;
    transition: scale 0.5s;
}

.bang.banged {
    scale: 1.3;
    transition: scale 0.1s;
}