* {
    font-family: 'Lexend Mega', sans-serif;
}

body {
    background-color: rgb(224, 242, 255);
    transition: background-color 0.3s;
    height: 100%;
    width: 100%;
    margin: 0;
}

body.stable {
    background-color: rgb(20, 155, 20);
}

.start {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.upload {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: calc(100% - 80px);
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

    transition: background-color 0.1s;
}

.upload:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.upload>input[type="file"] {
    display: none;
}

.node {
    --x: 0px;
    --y: 0px;
    left: calc(100% / 2 - 25px + var(--x));
    top: calc(100% / 2 - 25px + var(--y));

    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    scale: 1;
    transition: scale 0.5s, box-shadow 0.5s;
}

.node.me {
    scale: 3;
}

.node.me.waiting {
    scale: 0;
}

.stable .node.me {
    scale: 2;
}

.node.me.bumped {
    scale: 2.5;
    box-shadow: 0 0 10px 0 white;
    transition: scale 0.1s;
}

.node>img {
    height: 100%;
    width: 100%;
    padding: 20%;
    box-sizing: border-box;
    image-rendering: pixelated;
}